@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html {
  font-size: 62.5%;  
  font-family: 'Roboto', sans-serif;
}

.home-body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

a {
  text-decoration: none;
  display: inline;
  color: black;  
}

header {
  width: 100%;
  height: 60px;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

.nav-logo-container {
  justify-self: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60px;  
  place-items: center;
  background-color: #93F4CE;
}
  
.nav-logo-container img {
  width: 200px;
}

.link-profile {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;  
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
}

.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;
  background-image: url('../assets/img/manos-juntas.jpg');  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 170px;  
}

.home-main-text {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  letter-spacing: 5px;
  text-align: center;  
}

.home-main-button {
  display: flex;
  justify-content: center;
  margin: 130px auto;
  background-color: #b2b3b5;  
  height: 60px;
  width: 120px;
  border-radius: 8px; 
}

.home-main-button a {
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: auto;  
}

/* Blog */

.blogs-main {
  display: grid;
  font-family: 'Roboto', sans-serif;
}
  
.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0 50px 5px;
}
  
.blogs-main-new {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 15px auto;
}
  
.blogs-news-img-container {
  grid-column: 1;
  display: grid;
  justify-items: center;
}
  
.blogs-news-img-container img {
  width: 430px;
  height: 230px;
  object-fit: cover;
}
  
.blogs-news-info-container {
  grid-column: 2;
  margin: 0 30px;
}

.blogs-news-info-container h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
  
.blogs-news-info-container p {
  margin-bottom: 25px;
  margin-top: 6px;
  font-size: 12px;
}
  
.blogs-posts-container {
  padding: 0 50px 40px;
}
  
.blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}
  
.blogs-button {
  border: 1px solid #93F4CE;
  padding: 8px 13px;
  font-size: 12px;  
}
  
.blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
  margin-left: 28px;
}
  
.post-container p {
  margin-bottom: 35px;
  font-size: 14px;
}
  
.post-container img {
  width: 260px;
  height: 250px;
  margin: 15px 0;
  object-fit: cover;
}

.post-container h4 {
  font-size: 12px;
  margin-bottom: 18px;
}
  
footer {
  width: 100%;
  height: 100px;
  background-color: #22272d;
  border-top: 35px solid #93F4CE;
  text-align: center;
}
  
footer p {
  color: white;
  margin-top: 30px;
}

/* Main Blog Html */

.blogpost-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.blogpost-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogpost-img-container img {
  width: 93%;
  height: 90%;
  object-fit: cover;
}

.blogpost-main-container {
  display: flex;
  align-items: flex-start;
  margin: 0 18px;
}

.blogpost-main-container-div {
  margin: 60px auto;
}

.blogpost-main-container-div article h1 {
  font-size: 3rem;
}

.blogpost-main-container-div article p {
  margin-top: 23px;
  font-size: 1.4rem;
}

/* Blog 2 - cambio del tamaño de la foto */

.blogpost-img-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogpost-img-container2 img {
  width: 64%;
  height: 83%;
  object-fit: cover;
}

/* Blog 6 - cambio de tamaño de la foto */

.blogpost-img-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogpost-img-container3 img {
  width: 94%;
  height: 70%;
  object-fit: cover;
}

/* Perfil Html */

.profile-main-container {
  padding: 70px 40px;
  background-color: #e6e9ed;
  margin-bottom: 50px;
}

.profile-main-container img {
  width: 320px;
  margin-right: 30px;
  height: 188px;
  object-fit: cover;
}

.profile-main-container .profile-container {
  display: flex;
  align-items: center;
}

.profile-container h2 {
  font-size: 16px;
}

.profile-container p {
  margin-top: 22px;
  font-size: 14px;
}

.profile-main-projects {
  padding: 0 50px 40px;
}

.profile-main-projects h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 35px;
  text-align: center;
}

.projects-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects-container {
  padding: 20px 10px;
}

.projects-container p {
  margin-top: 10px;
}